<!DOCTYPE html>
<head>
    <meta charset="utf-8" >
    <title> ACEI test </title>
    <!-- <link rel="stylesheet" href="css/global.css"> -->
    <script src="../js/javascript.js"></script>
</head>
<html>
    <body>
        <h1>
            Hi enter your url here :
        </h1>
        
        <p>
            Enter url from hockey db
        </p>
        <p><input type "url" class="url_entry"></p>
        <button onClick="addPlayerToBD()">
            add this player to the database
        </button>
    </body>
</html>