<!DOCTYPE html>
<head>
    <meta charset="utf-8" >
    <title> ACEI test </title>
    <!-- <link rel="stylesheet" href="css/global.css"> -->
    <script src="../js/javascript.js"></script>
</head>
<html>
    <body>
        <h1>
            Hi enter your player here :
        </h1>
        <div>
            <p>
                Enter his name
            </p>
            <p><input type "url" class="entry"></p>
            <p>
                Enter his number of game played
            </p>
            <p><input type "url" class="entry"></p>
            <p>
                Enter his number of goals
            </p>
            <p><input type "url" class="entry"></p>
            <p>
                Enter his number of assits
            </p>
            <p><input type "url" class="entry"></p>
            <p>
                Enter his number of points
            </p>
            <p><input type "url" class="entry"></p>
            <p>
                Enter his number of penalty minute
            </p>
            <p><input type "url" class="entry"></p>
            <p>
                Enter his differential
            </p>
            <p><input type "url" class="entry"></p>
        </div>
        <button onClick="addPlayerToBD()">
            add this player to the database
        </button>
        <button onClick="fetch_players()">
           fetch player info
        </button>
    </body>
</html>